@font-face {
  font-family: 'Inter';
  src: 
  local('Inter Light'),
  local('Inter light'),
  local('Inter-Light'),
  local('Inter-light'),
    url('./Inter/Inter-Light.woff2') format('woff2'),
    url('./Inter/Inter-Light.woff') format('woff'),
    url('./Inter/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: 
  local('Inter Regular'),
  local('Inter regular'),
  local('Inter-Regular'),
  local('Inter-regular'),
    url('./Inter/Inter-Regular.woff2') format('woff2'),
    url('./Inter/Inter-Regular.woff') format('woff'),
    url('./Inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: 
  local('Inter Medium'),
  local('Inter medium'),
  local('Inter-Medium'),
  local('Inter-medium'),
    url('./Inter/Inter-Medium.woff2') format('woff2'),
    url('./Inter/Inter-Medium.woff') format('woff'),
    url('./Inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: 
  local('Inter Bold'),
  local('Inter bold'),
  local('Inter-Bold'),
  local('Inter-bold'),
    url('./Inter/Inter-Bold.woff2') format('woff2'),
    url('./Inter/Inter-Bold.woff') format('woff'),
    url('./Inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}