@import '../../scss/variables.scss';

.inner {
  display: flex;
  align-items: center;
  justify-content: center;

  background: $bg-accent;
}

.body {
  width: 600px;
  padding: 40px;
  border-radius: 20px;

  background: $bg-main;

  @media (max-width: 600px) {
    width: 100%;
  }

  @media (max-width: 400px) {
    padding: 20px 5px;
  }
}
