$bg-accent: #219ebc;
$bg-light: #fff;
$bg-main: #f6f8fb;
$bg-second: #f4f2f2;
$bg-dark: #4a4a4a;

$text-color-main: #4a4a4a;
$text-color-accent: #219ebc;
$text-color-second: #989899;
$text-color-danger: #ff5858;
$text-color-light: #fff;
